@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos Generales ---*/

body{
	background: #2d2d2d;
	font-family: Arial,Helvetica,Sans-serif;
}

a {text-decoration: none;color: white;}
a:hover {text-decoration: underline; }

#wrap {
	width: 960px;
	margin: auto;
	clear: both;
}

/*--- Header ---*/
header {
	width: 100%;
	float: left;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(228,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(228,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(228,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(228,224,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(228,224,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(228,224,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 3px 5px #000;
		-moz-box-shadow: 0px 3px 5px #000;
		-webkit-box-shadow: 0px 3px 5px #000;
}

#subheader {
	width: 960px;
	margin: auto;
}

#logotipo {
	float: left;
	width: 300px;
	padding: 10px 0px;
}

#logotipo a {
	font-family: sourcesans-light;
	font-size: 50px;
	color: #000;
}

#logotipo a:hover {text-decoration: none;}

/*--- Menu ---*/

header #subheader nav {
	float: left;
	width: 660px;
	padding: 30px 0px;
	text-align:right;
}

header #subheader nav ul li {
	display: inline;
	font-family: sourcesans;

}

header #subheader nav ul li a {
	color: #000;
	font-size: 20 px;
	padding: 10px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
}

header #subheader nav ul li a:hover {
	color: #ffffff;
	background: #1798af;
	text-decoration: none;
}

/*--- MAIN ---*/
#main {
	width: 100%;
	margin: 20px 0px 0px 0px;
	float: left;
}

/*---Slideshow---*/
#slideshow {
	width: 920px;
	height: 260px;
	float: left;
	background: #000;
	border: solid 20px #fff;
	margin-bottom: 10px;
}

#slideshow .pagination {
	margin: 26px 0px;
	width: 100px;
}

#slideshow .pagination li {
	float: left;
	margin: 0px 5px;
	list-style: none;
}

#slideshow img {
	width: 920px;
	height: 260px;
}

#slideshow .paginaion li a {
	display: block;
	width: 12px;
	height: 0px;
	padding-top: 12px;
	background: #fff;
	float: left;
	overflow: hidden;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}

/*---Bienvenidos---*/
#bienvenidos {
	width: 920px;
	float: left;
	padding: 20px;
	background: rgb(70,121,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(70,121,58,1) 0%, rgba(45,76,30,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,121,58,1)), color-stop(100%,rgba(45,76,30,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(70,121,58,1) 0%,rgba(45,76,30,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46793a', endColorstr='#2d4c1e',GradientType=0 ); /* IE6-9 */

	margin: 20px 0px;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-wevkit-border-radius: 5px;
	box-shadow: 0px 3px 3px #000;
	 	-moz-box-shadow: 0px 3px 3px #000;
	 	-webkit-box-shadow: 0px 3px 3px #000;
}

#bienvenidos article h2 {
	font-family: sourcesans-light;
	color: #fff;
	font-size: 40px;
	margin-bottom: 10px;
}

#bienvenidos article {
	color: #fff;
	line-height: 27px;
}

/*---Contenido---*/
#contenido {
	width: 700px;
	float: left;
}

#contenido article {
	float: left;
	margin-bottom: 20px;
}

#contenido article .titulo {
	font-size: 22px;
	font-family: sourcesans;
	color: #fff;
}

#contenido article .fecha {
	font-size: 14px;
	color: #1798af;
	margin-bottom: 5px;
}

#contenido article .thumb {
	width: 220px;
	height: 150px;
	float: left;
	margin: 0px 10px 10px 0px;
}

#contenido article > p {
	color: #8c8c8c;
	font-size: 14px;
	text-align: justify;
	line-height: 18px;
}

/*---Sidebar---*/

aside {
	width: 220px;
	float: left;
	margin-left: 20px;
	background: #4d78b3;
	padding: 10px 10px 0px 10px;
	box-shadow: 0px 3px 3px #000;
		-moz-box-shadow: 0px 3px 3px #000;
		-webkit-box-shadow: 0px 3px 3px #000;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	margin-bottom: 20px;
}

aside .widget {
	margin-bottom: 10px;
	float: left;
}

aside .widget > h3 {
	background: #fff;
	color:#4d78b3;
	width: 220px;
	padding: 10px 0px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

aside .widget a {color:#fff;}
aside .widget ul li{
	margin-bottom: 5px;
	font-size: 12px;
}
aside .widget img {width: 220px;height: 240px;}

/*---FOOTER---*/
footer {
	width: 100%;
	float: left;
	clear: both;
	box-shadow: 0px 3px 3px #000;
		-moz-box-shadow: 0px 3px 3px #000;
		-webkit-box-shadow: 0px 3px 3px #000;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	background: rgb(47,47,47); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(47,47,47,1) 0%, rgba(35,35,35,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,47,47,1)), color-stop(100%,rgba(35,35,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(35,35,35,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(35,35,35,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(35,35,35,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(47,47,47,1) 0%,rgba(35,35,35,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#232323',GradientType=0 ); /* IE6-9 */
}

footer section {
	width: 440px;
	float: left;
	padding: 20px;
}

footer #acerca-de {
	font-family: arial, Helvetica, Sans-serif;
	font-size: 12px;
	color: #919191;
	text-align: justify;
	line-height: 16px;
}

footer #acerca-de h3{
	font-family: sourcesans-light;
	font-size: 20px;
	color: #fff;
	margin-bottom: 5px;
}

footer #redes-s > div {
	width: 220px;
	height: 60px;
	float: left;
	background: #f9de32;
	opacity: .5;
		-moz-opacity: 0.5;
		-webkit-opacity: 0.5;
}

footer #redes-s > div a{
	width: 220px;
	height: 60px;
	display: inline-block;
}

footer #redes-s .email {
	background:url(../imagenes/correo.png);
	margin-bottom: 10px;
}

footer #redes-s .twitter {
	background:url(../imagenes/twitter.png);
	margin-bottom: 10px;
}

footer #redes-s .youtube {
	background:url(../imagenes/youtube.png);
}

footer #redes-s .facebook {
	background:url(../imagenes/facebook.png);
}

footer #redes-s > div:hover {
	opacity: 1;
}

#copyright {
	float: left;
	width: 960px;
	margin: 10px 0px;
}

#copyright p {
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	font-family: Arial, Helvetica, Sans-serif;
}